.menus {
    font-size: 1.2rem;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menus ul li {
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    font-weight: 400;
}

.active {
    text-decoration: none;
    color: red;
}

.inactive {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 640px) {
    .menus ul {
        display: block;
    }
}